mixin top-qatar-guide(data)
  .top-qatar-guide
    .top-qatar-guide__item
      +news-block('About')
    .top-qatar-guide__item
      +news-block('Coming')
    .top-qatar-guide__item
      +news-block('Things to do')
    .top-qatar-guide__item
      +news-block('Getting Around')