extends ./layout.jade

block variables
  - var page = 'dining'

block header
  +header._dining

block content
  .page._inside
    +top-baner-full
    +events-image
    .page__layout
      .page__content
        +dining-page
        +article-meta('Liked this article? Share it!')
        +coments
      .page__sidebar
        +sidebar
    +bottom-baner-full