extends ./layout.jade

block variables
  - var page = 'events'

block header
  +header._events

block content
  .page._inside
    +top-baner-full
    +events-image
    .page__layout
      .page__content
        +events-page
        +article-meta('Liked this event? Share it!')
        +coments
      .page__sidebar
        +sidebar
    +bottom-baner-full