extends ./layout.jade

block variables
  - var page = 'news'

block header
  +header._news

block content
  .page._inside
    +top-baner-full
    +events-image
    .page__layout
      .page__content
        +news-page
        +article-meta('Liked this news? Share it!')
        +coments
      .page__sidebar
        +sidebar
    +bottom-baner-full