extends ./layout.jade

block variables
  - var page = 'guide'

block header
  +header._guide

block content
  .page._inside
    +top-baner-full
    +top-qatar-guide
    .page__layout
      .page__content
        +qatar-guide-page
        +article-meta('Liked this news? Share it!')
        +coments
      .page__sidebar
        +sidebar
    +bottom-baner-full