extends ./layout.jade

block variables
  - var page = 'videos'

block header
  +header._videos

block content
  .page._inside
    +top-baner-full
    +top-full('videos')
    +most-popular-videos
    .page__layout
      .page__content
        +videos-content
      .page__sidebar
        +sidebar
    +bottom-baner-full