extends ./layout.jade

block variables
  - var page = 'zomato'

block header
  +header._zomato

block content
  .page._inside
    +top-baner-full
    +top-full('zomato')
    +zomato-filter()
    .page__layout
      .page__content
        +zomato-articles
      .page__sidebar
        +sidebar
    +paginate._zomato
    +bottom-baner-full