.button {
  text-decoration: none;
  text-transform: uppercase;

  border: 0;

  @include transition;
  &._rose {
    color: $white;
    background-color: $rose;
    &:hover {
      background-color: $rose + #111;
    }
  }
  &._light-rose {
    color: $white;
    background-color: $light-rose;
    &:hover {
      background-color: $light-rose + #111;
    }
  }
  &._violet {
    color: $white;
    background-color: $violet;
    &:hover {
      background-color: $violet + #111;
    }
  }
}

.form-submit {
  font-size: rem-calc(18);

  text-transform: uppercase;

  @extend .button;
  @extend .button._rose;
  &._modal-join {
    display: block;

    width: 160px;
    height: 45px;
    margin: 20px auto;
  }
}
