.form-select {
  position: relative;

  width: 100%;
  &._modal-iconed {
    margin-bottom: 12px;
    &:before {
      font-size: rem-calc(13);

      position: absolute;

      color: #a2a4a2;

      @extend .fa;
    }
  }
  &._modal-timezone {
    &:before {
      top: 17px;
      left: 18px;

      @extend .fa-clock-o;
    }
  }
  &:after {
    right: 10px;

    content: '';

    @include bg($select);
    @include vertical-center;
  }
  &__list {
    font-size: rem-calc(14);

    box-sizing: border-box;
    width: 100%;
    height: 30px;

    border: 1px solid #bebebe;
    border-radius: 0;
    background-color: $white;

    -webkit-appearance: none;
    &._modal-iconed {
      height: 45px;
      padding-left: 40px;
    }
  }
}
