mixin form-field(placeholder, type)
  - var modiffer = attributes.class || ''
  .form-field(class="#{modiffer}")
    input(type="#{type}" value="" placeholder="#{placeholder}" class="#{modiffer}").form-field__item