mixin news-page(data)
  .news-page.content
    h1 Qatar Airways not to buy into American Airlines

    .content-meta
      .content-meta__item._author
        img(src="http://via.placeholder.com/30x30&text=Ava")
        span By Daisy
      .content-meta__item._date 20 May 2017
      .content-meta__item._view 1250
      .content-meta__item._share 966

    p Qatar Airways has decided not to proceed with the announced investment in American Airlines, it was announced.

    p Further review of the proposed financial investment, taking into account the latest public disclosure of American Airlines, has demonstrated that the investment no longer meets our objectives. Qatar Airways will continue to investigate alternative investment opportunities in the United States of America and elsewhere that do meet our objectives.

    p Qatar Airways will continue to seek opportunities to invest in global aviation to support the airline's goal to offer the best possible travel experience for its customers.” Qatar airways said in the statement. 