mixin footer(data)
  footer.footer
    .footer__top
      .footer__wrapper
        +subscribe-footer
    .footer__bottom
      .footer__wrapper
        .footer-menu
          a(href="#" title="").footer-menu__item About
          a(href="#" title="").footer-menu__item Advertising
          a(href="#" title="").footer-menu__item Contacts
          a(href="#" title="").footer-menu__item Privacy policy
          a(href="#" title="").footer-menu__item Terms of use
          a(href="#" title="").footer-menu__item Send a tip

        .footer-social
          .footer-social__item._fb 165K
          .footer-social__item._tw 22K
          .footer-social__item._yt 15.5K
          .footer-social__item._gp 10K
          .footer-social__item._sn 35K

        .footer__copyright 2006-2017 All Right Reserved