mixin video-row(data)
  .video-row
    .video-row__image
      img(src="http://via.placeholder.com/140x90&text=Preview")
    .video-row__content
      .video-row-bread
        a(href="#" title="").video-row-bread__item Cinema guide
        a(href="#" title="").video-row-bread__item Coming soon
      a(href="#" title="").video-row__title Alien: Covenant (2017)
      .video-row__text An ancient princess is awakened from her crypt beneath the desert, bringing with her malevolence grown over millennia, and terrors that defy human comprehension.