mixin stay-connected(data)
  .stay-connected
    .stay-connected__title Stay Connected

    .stay-connected__list
      a(href="#" title="").stay-connected__item._fb Facebook
      a(href="#" title="").stay-connected__item._tw Twitter
      a(href="#" title="").stay-connected__item._yt Youtube
      a(href="#" title="").stay-connected__item._in Instagram