mixin main-double(data)
  .main-double
    .main-double__left
      - var data = {category: 'Events', title: 'Social media responds to list of demands with humor', text: 'As the GCC crisis continues to develop, people have taken to social media to express their frustration at the demands the boycotting countries have made of Qatar, but with humor.', img: 'http://via.placeholder.com/685x525&text=MainSlider'};
      +top-slider(data)
    .main-double__right
      +top-baner-right