mixin top-user(data)
  form(method="" action="").top-user.form
    .top-user__column._left
      +form-field('Username', 'text')._iconed._username
      +form-field('Password', 'password')._iconed._password
      .top-user-social
        .top-user-social__title Sign in with
        .top-user-social-buttons
          a(href="#" title="").top-user-social-buttons__item._fb Facebook
          a(href="#" title="").top-user-social-buttons__item._gp Google+
          a(href="#" title="").top-user-social-buttons__item._tw Twitter
    .top-user__column._right
      input(type="submit" value="Sign In").top-user__submit
      .top-user__register or
        a(href="#" title="" data-modal="#registration").jsModalCall Register
      a(href="#" title="").top-user__forgot-password Forgot password?

mixin top-user-logined(data)
  .top-user-logined
    .top-user-logined__avatar
      img(src="http://via.placeholder.com/55x55&text=A")
    .top-user-logined__content
      .top-user-logined__name User <span>(users@mail.com)</span>
      .top-user-logined__points 1257 points
        a(href="#" title="") (Show me on leaderboard)
      .top-user-logined-control
        a(href="#" title="").top-user-logined-control__item._notifications Notifications
        a(href="#" title="").top-user-logined-control__item._messages Messages
    .top-user-logined-menu
      .top-user-logined-menu__icon
      .top-user-logined-menu-dropdown
        a(href="#" title="").top-user-logined-menu-dropdown__item._profile Edit profile
        a(href="#" title="").top-user-logined-menu-dropdown__item._settings Account settings
        a(href="#" title="").top-user-logined-menu-dropdown__item._logout Log out



