mixin videos-content(data)
  .videos-content
    .videos-content-row
      .videos-content-row__title General
        a(href="#" title="") View all
      .videos-content-row__content
        +video-block
        +video-block
        +video-block
      a(href="#" title="").videos-content-row__more View more

    .videos-content-row
      .videos-content-row__title QTIPS: Bite sized Qatari cultural tips
        a(href="#" title="") View all
      .videos-content-row__content
        +video-block
        +video-block
        +video-block
      a(href="#" title="").videos-content-row__more View more

    +baner-list

    .videos-content-row
      .videos-content-row__title Mr. Q
        a(href="#" title="") View all
      .videos-content-row__content
        +video-block
        +video-block
        +video-block
      a(href="#" title="").videos-content-row__more View more

    .videos-content-row
      .videos-content-row__title Events
        a(href="#" title="") View all
      .videos-content-row__content
        +video-block
        +video-block
        +video-block
      a(href="#" title="").videos-content-row__more View more

    .videos-content-row
      .videos-content-row__title Karak time
        a(href="#" title="") View all
      .videos-content-row__content
        +video-block
        +video-block
        +video-block
      a(href="#" title="").videos-content-row__more View more

mixin videos-content-sub(data)
  .videos-content
    .videos-content-row
      .videos-content-row__title General
      .videos-content-row__content
        +video-block
        +video-block
        +video-block
        +video-block
        +video-block
        +video-block
        +video-block
        +video-block
        +video-block

        +baner-list

        +video-block
        +video-block
        +video-block
        +video-block
        +video-block
        +video-block
        +video-block
        +video-block
        +video-block