mixin restore-password(data)
  .password-form
    .password-form__title Restore password
    +form-field('Email', 'email')._modal-iconed._modal-email
    input(type="submit" value="Send my reset link").form-submit

mixin new-password(data)
  .password-form
    .password-form__title Set new password
    +form-field('Password', 'password')._modal-iconed._modal-password
    +form-field('Re-type password', 'password')._modal-iconed._modal-password
    input(type="submit" value="Confirm").form-submit