mixin events-image()
  .events-image
    img(src="http://via.placeholder.com/1200x500&text=ArticleImagePreview")

mixin events-page(data)
  .events-page.content
    h1 Human African Acrobat Show

    .content-meta
      .content-meta__item._author
        img(src="http://via.placeholder.com/30x30&text=Ava")
        span By Daisy
      .content-meta__item._date 20 May 2017
      .content-meta__item._view 1250
      .content-meta__item._share 966

    .events-page__map
      | <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d556791.010293821!2d51.1408186569761!3d25.288030955712358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45c534ffdce87f%3A0x1cfa88cf812b4032!2z0JrQsNGC0LDRgA!5e0!3m2!1sru!2s!4v1502086540122" width="825" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>

    h2 Event Details:

    .events-page-info
      .events-page-info__item._location Location:
        span Doha Exhibition and Convention Center
      .events-page-info__item._date Date: 
        span 11 - 12 August
      .events-page-info__item._time Time:
        span 5.30 pm (start) / 7.45 (end)
      .events-page-info__item._tickets Ticket Purchase:
        span Online

    p After performing around the world, the Human African Acrobat Show will perform at the Summer Entertainment City on August 11th and 12th. 

    p This acro dance show includes amazing positions that require a lot of concentration and balance. 

    p Show timings: 
    p 5:30 PM - 6:00 PM <br>7:15 PM - 7:45 PM

    h2 Contact Details:

    .events-page-contacts
      a(href="#" title="").events-page-contacts__item http://www.summerentcity.com
      a(href="#" title="").events-page-contacts__item info@summerentcity.com
      a(href="#" title="").events-page-contacts__item +974 66016176
