mixin top-news(data)
  .top-news
    .top-news__item
      +news-block('General')
    .top-news__item
      +news-block('Business')
    .top-news__item
      +news-block('Dining')
    .top-news__item
      +news-block('Entartainment')