mixin zomato-page(data)
  .zomato-page.content
    h1 The cheesecake factory

    //- .zomato-page__photo
      img(src="http://via.placeholder.com/790x500&text=ArticleImagePreview")

    .events-page__map
      | <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d556791.010293821!2d51.1408186569761!3d25.288030955712358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45c534ffdce87f%3A0x1cfa88cf812b4032!2z0JrQsNGC0LDRgA!5e0!3m2!1sru!2s!4v1502086540122" width="825" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>

    .zomato-page__item Phone number:
      span 44529019

    .zomato-page__item Address:
      span Ground Floor, Mall of Qatar

    .zomato-page__item Cuisines:
      span American, Desserts

    .zomato-page__item Cost:
      span Average QAR250 for two people (approx.)

    .zomato-page__powered
      img(src="%=static=%images/assets/zomato-page/zomato.jpg" alt="")