mixin top-full(page)
  .top-full
    - var data = {category: 'Events / Exhibitions', title: 'Social media responds to list of demands with humor', text: 'As the GCC crisis continues to develop, people have taken to social media to express their frustration at the demands the boycotting countries have made of Qatar, but with humor.', img: 'http://via.placeholder.com/1150x525&text=EventsSlider', page: page};
      +top-slider(data)