mixin join-team(data)
  .advertise.join-team
    img(src="http://via.placeholder.com/400x110&text=BANNER")

mixin top-baner-full(data)
  .advertise.top-baner-full
    img(src="http://via.placeholder.com/1200x150&text=BANNER")

mixin bottom-baner-full(data)
  .advertise.bottom-baner-full
    img(src="http://via.placeholder.com/1200x150&text=BANNER")

mixin top-baner-right(data)
  .advertise.top-baner-right
    .top-baner-right__image
      img(src="http://via.placeholder.com/450x525&text=BANNER")
    .top-baner-right__content
      a(href="#" title="").top-baner-right__button Read More

mixin baner-list(data)
  .advertise.baner-list
    img(src="http://via.placeholder.com/825x125&text=BANNER")

mixin sidebar-baner(data)
  .advertise.sidebar-baner
    img(src="http://via.placeholder.com/300x600&text=BANNER")

mixin sidebar-baner-small(data)
  .advertise.sidebar-baner
    img(src="http://via.placeholder.com/300x300&text=BANNER")