mixin events-articles(data)
  .events-articles
    .events-articles-date-controls
      a(href="#" title="").events-articles-date-controls__item Today
      a(href="#" title="").events-articles-date-controls__item This week
      a(href="#" title="").events-articles-date-controls__item Later

    - for (var i = 0; i < 5; i++)
      - var data = {paginate: {start: 'Events', end: 'Social'}, title: 'Emir firm on maintaining standard of living in Qatar: Finance Minister', text: 'His Highness the Emir Sheikh Tamim bin Hamad al-Thani has given firm instructions to do everything necessary to maintain the standard of living of the people in Qatar'};
      +article-block(data)._events

    +baner-list()

    - for (var i = 0; i < 5; i++)
      - var data = {paginate: {start: 'Events', end: 'Social'}, title: 'Emir firm on maintaining standard of living in Qatar: Finance Minister', text: 'His Highness the Emir Sheikh Tamim bin Hamad al-Thani has given firm instructions to do everything necessary to maintain the standard of living of the people in Qatar'};
      +article-block(data)._events