mixin article-block(data)
  - var modiffer = attributes.class || ''
  .article-block(class="#{modiffer}")
    .article-block__image
      img(src="http://via.placeholder.com/300x190&text=ArticleImagePreview")
    .article-block__content
      .article-block-bread
        a(href="#" title="").article-block-bread__item=data.paginate.start
        a(href="#" title="").article-block-bread__item=data.paginate.end
      a(href="#" title="").article-block__title=data.title

      .article-block__text=data.text

      .article-block-meta
        .article-block-meta-author
          .article-block-meta-author__avatar
            img(src="http://via.placeholder.com/20x20&text=Ava")
          .article-block-meta-author__name By Daisy
        .article-block-meta__item._date 24 March 2017
        .article-block-meta__item._views 1250
        .article-block-meta__item._shares 956

mixin article-overlay(data)
  - var modiffer = attributes.class || ''
  .article-overlay(class="#{modiffer}")
    .article-overlay__image
      img(src="http://via.placeholder.com/350x270&text=ArticleImagePreview")
    .article-overlay__content
      a(href="#" title="").article-overlay__title Emir firm on maintaining standard of living in Qatar: Finance Minister

      .article-overlay-meta
        .article-overlay-meta__item._place Eggspectation The Pearl
        .article-overlay-meta__item._date 26 May - 24 March 2017