mixin article-block(data)
  - var modiffer = attributes.class || ''
  .article-block(class="#{modiffer}")
    .article-block__image
      img(src="http://via.placeholder.com/300x190&text=ArticleImagePreview")
    .article-block__content
      .article-block-bread
        a(href="#" title="").article-block-bread__item=data.paginate.start
        a(href="#" title="").article-block-bread__item=data.paginate.end
      a(href="#" title="").article-block__title=data.title

      .article-block__text=data.text

      .article-block-meta
        .top-slider-content-event
          .top-slider-content-event__item._place Doha Exhibition and Convention Center, Doha
          .top-slider-content-event__item._date 18-22 May
          .top-slider-content-event__item._time 12:00

      .article-block-meta
        .article-block-meta-author
          .article-block-meta-author__avatar
            img(src="http://via.placeholder.com/20x20&text=Ava")
          .article-block-meta-author__name By Daisy
        .article-block-meta__item._date 24 March 2017
        .article-block-meta__item._views 1250
        .article-block-meta__item._shares 956


mixin article-overlay(data)
  - var modiffer = attributes.class || ''
  .article-overlay(class="#{modiffer}")
    .article-overlay__image
      img(src="http://via.placeholder.com/350x270&text=ArticleImagePreview")
    .article-overlay__content
      a(href="#" title="").article-overlay__title Emir firm on maintaining standard of living in Qatar: Finance Minister

      .article-overlay-meta
        .article-overlay-meta__item._place Eggspectation The Pearl
        .article-overlay-meta__item._date 26 May - 24 March 2017

mixin article-filter(data)
  - var modiffer = attributes.class || ''
  .article-filter(class="#{modiffer}")
    .article-filter__image
      img(src="http://via.placeholder.com/120x120&text=ArticleImagePreview")
    .article-filter__content
      a(href="#" title="").article-filter__title Beach Deze
      .article-filter__text His Highness the Emir Sheikh Tamim bin Hamad al-Thani has given firm instructions to do everything necessary to maintain the standard of living of the people in Qatar

      .article-filter-meta
        .article-filter-meta__item._place Grand Hyatt Doha
        - if (page == 'events')
          .article-filter-meta__item._date 24 March 2017
        - if (page == 'dining')
          .article-filter-meta__item._date 12:00 - 00:30
          .article-filter-meta__item._cost QR335-390
