mixin video-block-overlay(data)
  .video-block-overlay
    a(href="#" title="").video-block-overlay__play
    .video-block-overlay-content
      .video-block-overlay-content__category Qtips
      a(href="#" title="").video-block-overlay-content__title The Women's side of Qatari Weddings
      .video-block-overlay-content-meta
        .video-block-overlay-content-meta__item._views 127 850
        .video-block-overlay-content-meta__item._date 24 March 2017
        .video-block-overlay-content-meta-social
          a(href="#" title="").video-block-overlay-content-meta-social__item._fb
          a(href="#" title="").video-block-overlay-content-meta-social__item._tw
    .video-block-overlay__image
      img(src="http://via.placeholder.com/370x300&text=VideoPlaceholderImage")

mixin video-block(data)
  .video-block
    .video-block__image
      a(href="#" title="").video-block__play
      img(src="http://via.placeholder.com/260x160&text=VideoPlaceholderImage")
    a(href="#" title="").video-block__title The Women's side of Qatari Weddings
    .video-block__text As the GCC crisis continues to develop, people have taken to social media to express their frustration at the demands the boycotting countries have made of Qatar, but with humor.
    .video-block-meta
      .video-block-meta__item._views 127 850
      .video-block-meta__item._date 24 March 2017
      .video-block-meta-social
        a(href="#" title="").video-block-meta-social__item._fb
        a(href="#" title="").video-block-meta-social__item._tw