mixin qatar-guide-page(data)
  .qatar-guide-page.content
    h1 A Guide to Qatar

    p Qatar truely does have some really great things to do. For those who don't know where to look, we've provided this resource for you. There's plenty to see. Believe it or not, Qatar was once called the most boring place on earth. It's true to be honest, it used to be nothing more than a sand pit. However with the petro and gas dollars flowing in, it's turning into an unbelievable marvel.

    blockquote 
      p Remember though! Join the forums and share your own opinions or perhaps you've found something nice to see that isn't mentioned!

    h2 Forts

    p Qatar has a great history to share with the world. There are several forts which still stand to this day which date back to hundreds of years. You could say this is an archaeologists dream. Entry to all forts is free so why not visit a couple during your visit? Click into this section for information on Al Wajbah, Zubara, Al Rakiyat, Umm Salal, Windtower House, and Doha Fort.

    h2 Museums

    p You'd be amazed at the amount of museums that are sprouting up around Qatar. Most are quite cozy, but each have a story to tell. Qatar's history is quite new, but it's still a great idea to travel around to each one and take educate yourself when it comes to Islamic Art (in the world's largest Islamic Art Museum), Arabian Weaponry, and much more.

    h2 Parks

    p Something that's great to do when you want to unwind and spend some time at a park or even by the sea. Granted during summer time, certain times of the day can be too hot for any human to enjoy, but that still leaves so many other months of the year. Add to the fact that it feels absolutely great when a soft breeze wisps across your face and you've got a relaxing day out.

    h2 Shopping

    p Everybody loves shopping; well if we're being specific, everybody loves receiving things. So you'll probably want to get more 'things' for your Riyals right? Good news is that Qatar has NO taxes. Yep, the country's tax free. You'll be able to get amazingly cheap prices. Qatar is cheaper than most countries and can even be cheaper than some DUTY FREE areas too!
