mixin videos-page(data)
  .videos-page.content
    h1 Why these 3 hairstyles will save your life in August

    em By Nushrat Anjum 

    p Is the dreaded summer hair heat-helmet frizz keeping you from looking your best? Or maybe you can’t be bothered to try some cute new hairstyles because you know they’ll be ruined by the humidity? Well, ILQ’s In The Glow has a solution for that. Check out some of our fave effortless, yet chic, summer hairstyles that you can flaunt day-to-night! 

    p This hairstyle will allow you to keep your locks away from your face while giving you a cool look! Ideal for when you’ve got to run errands, go to class, hit the beach, or work out, it’s a popular summer hairstyle donned celebrities such as Kylie Jenner and Katy Perry.

    